{% extends "store/base.html" %}
{% block title %}
    {{ goods_type_data.name }}详情
{% endblock %}

{% block content %}
    <table class="table">
        <tr>
            <td rowspan="3">
                <img style="width: 200px;height: 200px;" src="/static/{{ goods_type_data.picture }}">
            </td>
            <th>商品类型名称</th>
            <td>{{ goods_type_data.name }}</td>
        </tr>
        <tr>
            <th style="text-align: center">商品类型描述</th>
        </tr>
        <tr>
            <td style="text-align: center">{{ goods_type_data.description|safe }}</td>
        </tr>
    </table>
{#    <a href="/Store/update_goods/{{ goods_type_data.id }}" class="btn btn-primary btn-block">修改</a>#}
{% endblock %}